
                
 <div>       
          
<h2>This demo application is used for devops training using .net core application.</h2>
 <p> This training use Microsoft SQL Server, Terraform and dacpac file to create and seebd the data.</p>
<p>For more information about me click those links. </p>
            

               
</div>